extends ../layout

block content
    .container
        .row
            .col-md-4
            .col-md-4
                .card(style="padding: 20px;")
                    form(action="/auth/login", method="POST", style="text-align: center;")
                        .form-group
                            input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
                        .form-group
                            input(type='password', name='password' class='form-control', placeholder='Password', required)
                        .form-group
                            button(class='btn btn-primary btn-block', type='submit') Sign in
                    a(href='/auth/signup') Create a new account
                    a(class="btn btn- btn-primary", href="/auth/facebook") Login with facebook
            .col-md-4
                